

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#cccc, #2e2652);
}
.container
{
    position: relative;
    background: #ffff;
    width: 30em;
    height: 35em;
    border-radius: 1em;
    overflow: hidden;
}
.tabs input{
    visibility: hidden;
    display: none;
}
.content{
    position: relative;
    width: calc(30em*4);
    height: 30em;
    background: #ccee;
    transition: 0.5s;
    display: flex;
    overflow: hidden;
}
.content .box{
    position: relative;
    width: 30em;
}

.tabs input:nth-child(1):checked ~ .content
{
    left: calc(30em*0);
}
.tabs input:nth-child(2):checked ~ .content
{
    left: calc(30em*-1);
}
.tabs input:nth-child(3):checked ~ .content
{
    left: calc(30em*-2);
}
.tabs input:nth-child(4):checked ~ .content
{
    left: calc(30em*-3);
}

.tabs .buttons{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
    background: #f2f2f2;
}
.buttons ul{
    display: flex;
    width: 30em;
}
.buttons ul li{
    position: relative;
    list-style: none;
    width: 7.5em;
    height: 5em;
    z-index: 1;
}
.buttons ul li a label{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    
}



