

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#cccc, #2e2652);
}
.container
{
    position: relative;
    background: #ffff;
    width: 30em;
    height: 35em;
    overflow: hidden;
}
.tabs input{
    visibility: hidden;
    display: none;
}
.content{
    position: relative;
    width: calc(30em*4);
    height: 30em;
    background: #ccee;
    transition: 0.5s;
    display: flex;
    overflow: hidden;
}
.tabs .buttons{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
    background: blue;
}
.tabs .buttons label{
    position: relative;
    cursor: pointer;
    margin-left: 2em;
}

.content .box{
    position: relative;
    width: 30em;
}

.tabs input:nth-child(1):checked ~ .content
{
    left: calc(30em*0);
}
.tabs input:nth-child(2):checked ~ .content
{
    left: calc(30em*-1);
}
.tabs input:nth-child(3):checked ~ .content
{
    left: calc(30em*-2);
}
.tabs input:nth-child(4):checked ~ .content
{
    left: calc(30em*-3);
}